* {
  -webkit-user-select: none;
  user-select: none;
}
input[type=text], textarea {
  -webkit-user-select: text;
  user-select: text;
}
.clear {
  clear:both;
}

#hud {
  position:relative;
  height:448px;
}

#screenCanvas {
  width:512px;
  height:448px;
  position:absolute;
  top:0;
  left:0;
}

#ram {
  position:absolute;
  top:0;
  left:520px;
  height:448px;
  white-space:pre;
  font-family:Inconsolata;
  font-size:13px;
  font-weight:bold;
}
.ramLabel {
  color:#aaa;
}
#ram .changed {
  color:red;
}
#timebar {
  height:20px;
  background:#ddd;
  margin-top:5px;
  position:relative;
}
#timepos {
  height:20px;
  width:1px;
  background:black;
  position:absolute;
  top:0;
}
#timelineControls {
  width:512px;
}
#frameN {
  width:6em;
}
#frameCount {
  width:6em;
  float:right;
}
#inputControls {
  margin-top:3em;
  font-family:Inconsolata;
  font-size:13px;
}
#inputScroller {
  margin-top: 2em;
  cursor:default;
}
#frameNumbers, #frameInputs {
  white-space:pre;
}
#frameNumbers {
  cursor:pointer;
  display:inline-block;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0 0;
  position:absolute;
  color:#aaa;
  line-height:11px;
}
#frameNumbers div:hover {
  text-decoration:underline;
}
#frameInputs > div {
  float:left;
  width:11px;
  word-break:break-all;
  line-height:11px;
}
#frameInputs > div * {
  position:relative;
  left:3px;
}
#inputScroller .focus {
  background:#ddddee;
}
#keyState {
  margin-top: 1em;
  color:#aaa;
  font-weight:bold;
  font-size:14px;
}
#keyState span.writing {
  color:green;
  background:#ccffcc;
}
#keyState span.erasing {
  color:red;
  background:#ffcccc;
}

#luaControls {
    position:absolute;
    top:485px;
    left:560px;
}
#luaControls > div {
    float: left;
}
#luaControls textarea {
    font-family: Inconsolata;
    font-size:14px;
    width:580px;
    height:100px;
    margin-right: 4em;
    white-space:pre;
}
